body {
    background-color:  #081217;
    color: #9fa6b7;
}

div {
    vertical-align: top;
}

#main {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
}

#side_bar {
    flex-grow: 1;
    flex-basis: 0;

    background-color: #171b26;
    overflow: auto;
    padding: 2%;

    display: flex;
    flex-direction: column;
}

#side_bar_bottom {
    flex-grow: 1;
    position: relative;

    scroll-snap-type: y mandatory;
    scrollbar-width: none;  /* Firefox hide scrollbar */
    overflow: auto;

    display: flex;
    flex-direction: column;
}

#side_bar_bottom::-webkit-scrollbar {
    display: none;  /* Edge, Chrome hide scrollbar */
}

#side_bar_bottom0, #side_bar_bottom1 {
    flex-grow: 1;
    flex-basis: 0;

    scroll-snap-align: start;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

#year_slider_frame {
    padding-left: 2%;
    padding-right: 2%;
}

#side_bar_bottom1_parameters, #ml_axis_picker {
    display: flex;
    flex-direction: row;
}

#ml_calc_button_pca_var {
    margin-top: 3%;
    padding: 0;

    color: #9fa6b7;
    border-color: #9fa6b7;
}

#ml_calc_button_pca_var:hover {
    color: #888;
    border-color: #888;
    background-color: #202E45;
}

#ml_calc_button_pca_var:hover span {
    display:none;
}

#ml_calc_button_pca_var:hover::after {
    content: "CALCULATE";
}

#ml_axis_picker_x_frame, #ml_axis_picker_y_frame, #ml_axis_picker_z_frame {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
}

#ml_axis_picker_y_frame {
    margin-left: 2%;
    margin-right: 2%;
}

#ml_num_of_pc_frame, #ml_random_state_frame {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
}

#ml_num_of_pc_frame {
    margin-right: 1%
}

#ml_random_state_frame {
    margin-left: 1%
}

#content {
    flex-grow: 3;
    flex-basis: 0;

    scroll-snap-type: y mandatory;
    overflow: auto;
    background-color:  #081217;

    display: flex;
    flex-direction: column;
}

#screen0, #screen2 {
    scroll-snap-align: start;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#screen00, #screen01 {
    flex-grow: 1;
    flex-basis: 0;

    position: relative;
}

#screen1 {
    scroll-snap-align: start;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

#screen10 {
    flex-grow: 3;
    flex-basis: 0;
    position: relative;
}

#screen11 {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;

    position: relative;
}

#screen20, #screen21, #screen210 {
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: row;
}

#screen200, #screen201, #screen2000, #screen2001, #screen211 {
    flex-grow: 1;
    flex-basis: 0;

    position: relative;
}

.block_style {
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 1%;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.graph_style {
    position: absolute;
    height: 100%;
    width: 100%;

    background: rgba(0,0,0,0.5);
}